@import url('http://fonts.cdnfonts.com/css/slate-pro-medium');

.section_1 {
    background-image: url(images/donation8.jpg);
    background-size: cover;
    background-color: rebeccapurple;
    height: 500px;
    display: flex;
    justify-content: center;
}

.section_1_inside {
    width: 50%;
    margin-top: 50px;
    background-color: #00000047;
    padding: 20px;
}

.section_1 div h2 {
    color: #ffff;
    width: 100%;
    font-family: 'Slate Pro Light', sans-serif;
    font-size: 50px;
}

.section_1 div p {
    color: #ffff;
    font-family: 'Slate Pro Light', sans-serif;
    font-size: 20px;
}


.btn_div {
    display: flex;
    justify-content: center;
    width: 100%;

}

.btn_div a {
    background-color: #FF5959;
    text-decoration: none;
    color: #ffff;
    padding: 20px;
    border-radius: 5px;
}


/* section --- 2 style start  */

.section_2 {
    display: flex;
    justify-content: center;
}

.section_2 .section_2_inside {
    width: 80%;

}

.section_2_inside div {

    justify-content: center;
    width: 50%;

    margin: 0 auto;
    padding: 10px;
}

.section_2_inside div h2 {
    margin-left: 35%;
    font-family: 'Slate Pro Light', sans-serif;

}

.section_2_inside div p {
    font-family: 'Slate Pro Light', sans-serif;
}

.donate {
    display: flex;
}

.donate p {
    width: 90px;
    height: 40px;
    background-color: #ddd;
    margin: 5px;
    padding: 20px 0px 0px 0px;
    text-align: center;
    border-radius: 5px;
}

.donate p:hover {
    background-color: #FFEEEE;
    border: 1px solid #FF5F5F;
    color: #FF5F5F;

}

.input_box input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    text-align: center;
    padding: 10px;
}

/* section 3 style */

.section_3 {
    display: flex;
    justify-content: center;
}

.section_3_inside {
    width: 80%;

}

.donate_plan {

    text-align: center;
    padding: 10px;
    font-family: 'Slate Pro Light', sans-serif;
}

.plane_box {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
}

.plane_box div {
    padding: 15px;
    margin: 8px;
    font-family: 'Slate Pro Light', sans-serif;
    width: 32%;
}

.plane_box img {
    width: 100px;
}

.food {

    background-color: #EDF5F6;
}

.famaily {
    background-color: #FFEEEE;
}

.education {
    background-color: #FFF4D6;
}